deprecated/
results/data/
config/.DS_Store
.nextflow/cache/
.nextflow/plr/
.nextflow/history
.nova/
work/
data/*.vcf
data/*.tsv
data/*.tsv.gz
data/*.tar.xz
data/*.csv
data/*.txt
data/*.fasta

.Rhistory
.next*
.DS_Store
.nextflow.log*
*fastq.gz
*.sam
*.bam
*.bam.bai
.nextflow.log.*
prolonged_infection_suppfig2_dag.png.*
report.html.*
trace.txt.*
timeline.html.*
