deprecated/
results/data/
config/.DS_Store
.nextflow/cache/
.nextflow/plr/
.nextflow/history
.nova/
work/

*.vcf
.Rhistory
.next*
.DS_Store
.nextflow.log*
*fastq.gz
*.sam
*.bam
*.bam.bai
.nextflow.log.*
prolonged_infection_suppfig2_dag.png.*
report.html.*
trace.txt.*
timeline.html.*
