
// workflow configuration parameters
params {

	// important input/auxiliary files
	patient_variants = "$baseDir/resources/patient_variant_counts.csv"
	color_palette = "$baseDir/resources/SupplementalFigure2_palette.txt"
	usher_relatives = "$baseDir/data/UShER_b12_relatives_metadata.tsv"
	refseq = "$baseDir/resources/reference.fasta"
	include = "$baseDir/resources/include_list.csv"

	// directories
	refdir = "$baseDir/resources"
	results = "$baseDir/results"
	results_data_files = "$baseDir/results/data"
	visuals = "$baseDir/results/visuals"
	
	// workflow settings
	min_date = "2020-09-01"
	max_date = "2022-02-01"
	subsample_size = 5000
	random_sample_seed = 14 // we recommend that you do not change this setting unless you would like to visualize different GenBank accessions in the final figure. Retaining a consistent seed ensures that our exact results are reproduced.

}


manifest {
	homePage = 'https://github.com/nrminor/prolonged-infection-suppfig2'
	mainScript = 'prolonged_infection_suppfig2.nf'
	defaultBranch = 'main'
	description = 'Pipeline for visually comparing mutations in a persistent SARS-CoV-2 infection with the virus globally'
	author = 'Nicholas R. Minor'
}


// Docker settings
process.container = 'nrminor/prolonged-infection-suppfig2:v2_0_2'
docker.enabled = true


// Changing default DAG-visualizing configuration to true
dag {
	enabled = true
	file = 'prolonged_infection_suppfig2_dag.png'
}


// Changing default to collecting run stats
timeline {
  enabled = false
  file    = "${params.results}/timeline.html"
}


report {
  enabled = true
  file    = "${params.results}/report.html"
}


trace {
  enabled = true
  fields  = 'task_id,name,status,exit,realtime,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar'
  file    = "${params.results}/trace.txt"
}
